body{
      /*background-color:#ffffff;*/
        font-family:Times,Helvetica,serif;
        font-size:14px;
}
div{
	
}
#dialog{
	width: 300px;
	border: solid 1px #000000;
	align: center;
}
#login{
	background-color:#eCC1C5;
	color:#ffffff;
	padding:10px;
	text-align:center;
}
#cred{
	margin:32px;
}   
		
#box{
	border:#ffffff solid 2px;
        border-radius:25px; 
}


