@import url('https://fonts.googleapis.com/css?family=Spartan:600&display=swap');
body{
    font-family: 'Spartan', sans-serif;
    background-color:#ffffff;
	background-image: url("../../assets/fruits-bg.png");
    font-size:20px;
	text-align: center;
}
#dialog{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: 3px solid pink;
	border-style: dashed;	
	border-radius: 15px;
	background-color:white;
	color:teal;
	padding:50px;
}

#login{
	background-color:#eCC1C5;
	color:#ffffff;
	padding:10px;
	text-align:center;
}

#cred{
	margin:32px;
	font-size: 16px;
}  
		
#box{
	border:#8A0ED7 solid 2px;
	border-radius:25px; 
	padding: 3px 2px 2px 10px;
}

#make{
	
/*	float: right;
	margin: 30% 30%;*/
	/*position: fixed;*/
	position: fixed;
	top:15%;
	left:65%;;
	border:#ced962 dashed 3px;
	background-color: #ffffff;
        border-radius:5px; 
	padding: 3px 2px 2px 10px;
	margin:30 30;
  	color: tomato;	

/*
	position: absolute;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, -50%);
                                border: 3px solid pink;
                                border-style: dashed;
                                border-radius: 15px;
                                background-color:white;
                                color:teal;
                                font-family: Arial, Helvetica, sans-serif;
                                padding:50px; */
}
#day{
	float: left;
}
.fDiv{
	position: absolute;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, -50%);
                                border: 3px solid pink;
                                border-style: dashed;
                                border-radius: 15px;
                                background-color:white;
                                color:teal;
                                font-family: Arial, Helvetica, sans-serif;
                                padding:50px;
  }

  /* for the recommendation form */
  #recommend{
		position: absolute;
		top:25%;
		left:3%;;
		border:#ced962 dashed 3px;
		background-color: #ffffff;
			border-radius:5px; 
		padding: 20px 20px 20px 20px;
		margin:50 50;
		  color: tomato;
  }