body{
      	background-color:#ffffff;
	background-image: url("../../assets/fruits-bg.png");
        font-family:Times,Helvetica,serif;
        font-size:20px;
	text-align: center;
}
#dialog{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: 3px solid pink;
	border-style: dashed;	
	border-radius: 15px;
	background-color:white;
	color:teal;
	padding:50px;
}

#login{
	background-color:#eCC1C5;
	color:#ffffff;
	padding:10px;
	text-align:center;
}

#cred{
	margin:32px;
	font-size: 16px;
}  
		
#box{
	border:#8A0ED7 solid 2px;
	border-radius:25px; 
	padding: 3px 2px 2px 10px;
}

html,
body {
	margin: 0 auto !important;
padding: 0 !important;
height: 100% !important;
width: 100% !important;
/*background-image: url(bc.jpg);
	background-size: cover;*/
}
.dashRed { display : none; border:  2px dashed red;}
form
{
	color: chocolate;
	/*border-radius: 50px;
	border:  solid pink;
	outline: 3px solid blue;
	padding: 20px;
	width: 100%;
	margin: auto;
	margin-top: 30px; */
}

.data2 { position: absolute; z-index: 2;}

.data h1 { color: red;}
.data button {margin-left: 1em; font-size: 25px; font-style: bold; background-color: yellow;}
.data table h2,h4 { margin-left: auto; }
.data table h3,h5 { margin-right: auto;}
.text-services {
	padding-left: 1em;
	padding-right: 1em;}

.text-services h2 {
	color: darkcyan;
}

.menu {
	background-color: #333;
	overflow: hidden;
}
.menu1 {
	background-color: #fff;
	overflow: hidden;
	text-align: right;
	float: right;
	font-size: 17px;
	padding-right: 1em;
}

/* Style the links inside the navigation bar */
.menu a {
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

/* Change the color of links on hover */
.menu a:hover {
	background-color: #9bcfcd;
	color: black;
}

.menu a.active {
	background-color: #dc6d95;
	color: white;
}

.contact a:hover{
	font-size: 25px;
	color: red;
	text-decoration: underline;}
.cnc {
	color: blue; 
}
.contact {
	text-align: right;
	float: right;
}
.img-container {
	color: darkblue;
	position: center;
}
.img-container h2 {
	color: black;
	
}
.make{
	float: right;
	border: 3px solid pink;
	border-style: dashed;	
	border-radius: 15px;
	background-color:white;
}
